.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(23, 37, 84);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.title{
  color: rgb(234, 179, 8);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.button{
  background-color: rgb(71, 85, 105);
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  gap: 2rem;
}

.left-button{
  border-right-width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 4rem;
  aspect-ratio: 1/1;
}

.data{
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #ff00ea;
  padding: 1rem;

}

.right-button{
  border-left-width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 4rem;
  aspect-ratio: 1/1;
}